{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
<!-- <script type="text/javascript" src="{% static "ckeditor/ckeditor/" %}"></script> -->
<script>window.CKEDITOR_BASEPATH = '{% static "ckeditor/ckeditor/" %}'</script>
{{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Vertical Innovations {{ user.assigned_group|title  }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}